/*!
 *  Star Wars GlyphIcons 1.4 by @maxtusken - http://starwarsglyphicons.com - @starwarsglyphicons
 *  License - http://starwarsglyphicons.com/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: StarWarsGlyphicons;
  src: url('../fonts/starwars-glyphicons-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.swg {
  display: inline-block;
  font: normal normal normal 14px/1 StarWarsGlyphicons, sans-serif;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swg-6x {
  font-size: 6em;
}

.swg-c3po-2::before {
  content: "\f067";
}

.swg-r2d2-2::before {
  content: "\f068";
}
