[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-login = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
environs = "*"
passlib = {extras = ["argon2"],version = "*"}

[requires]
python_version = "3.7"
