[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-assets = "*"
libsass = "*"
cssutils = "*"
environs = "*"
passlib = { extras = ["argon2", "bcrypt"], version = "*" }
python-magic = "*"
humanize = "*"
pygments = "*"
sentry-sdk = { extras = ["flask"], version = "*" }
psycopg2 = "*"
pymysql = "*"
pyyaml = "*"

[requires]
python_version = "3.6"
