/*
 * This file is part of pste.
 *
 * pste is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * pste is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with pste.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "bootstrap/scss/functions";

$primary: #754dac;
$info: $primary;

$enable-rounded: false;
$input-focus-border-color: $primary;
$input-focus-box-shadow: 0;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/bootstrap";

.navbar {
    border-bottom: 2px solid $primary;
}

.swg-r2d2-2 {
    color: #5468b1;
}

.swg-c3po-2 {
    color: #eda35c;
}

.dropzone {
    background-color: var(--bs-secondary-bg);
    font-size: 1.2em;
    border: none;
}

.dz-preview {
    border: 1px solid $primary;
    font-size: 0.9em;
}

.dz-image {
    border-radius: 0 !important;
    background: none !important;
    border-bottom: 1px solid $primary;
}

.code {
    padding-left: 10px;
}

.pre-scrollable {
    max-height: 75vh;
    border: 1px lightgray solid;
}

.linenos {
    vertical-align: top;
    background-color: var(--bs-secondary-bg);
    padding-left: 5px;
    padding-right: 10px;
}

.linenodiv > pre > span > a {
    color: $pink-500;

    &:not(:hover) {
        text-decoration: none;
    }
}

.paste-info {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-inline-separators {
    li:after {
        content: "|";
        padding-left: 8px;
    }

    li:last-child:after {
        content: "";
        padding-left: 0;
    }
}

a:not(:hover),
.btn-link:not(:hover) {
    text-decoration: none;
}
