{% extends 'base.html' %}

{% block stylesheets %}
    {% assets 'css-dropzone' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}

{% block scripts %}
    {% assets 'js-dropzone' %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets 'js-app' %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-10">
            <div>
                <form action="{{ url_for('api.upload') }}" class="dropzone text-center text-muted"
                      id="pste-upload"></form>
            </div>
            <hr>
            <div class="text-muted"><p>...or use the command line.</p></div>
            <div>
                <code>curl -H "Authorization: Bearer {{ current_user.api_key }}" -F
                    file=@/path/to/file {{ url_for('api.upload', _external=True) }}</code>
                <hr>
                <div class="text-muted"><p>Delete a file by slug.</p></div>
                <code>curl -X DELETE -H "Authorization:
                    Bearer {{ current_user.api_key }}" {{ url_for('api.delete', slug='example.png', _external=True) }}</code>
                <hr>
                <div class="text-muted"><p>List your uploaded files. Supports optional ?page parameter for
                    pagination.</p></div>
                <code>curl -H "Authorization:
                    Bearer {{ current_user.api_key }}" {{ url_for('api.files', _external=True) }}</code>
            </div>
        </div>
    </div>

{% endblock %}
