{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-10">
            <div>
                <form action="{{ url_for('api.upload') }}" class="dropzone text-center"
                      id="pste-upload"></form>
            </div>
            <hr class="border-1">
            <div class=""><p>...or use the command line.</p></div>
            <div>
                <code class="user-select-all">curl -H "Authorization: Bearer {{ current_user.api_key }}" -F
                    file=@/path/to/file {{ url_for('api.upload', _external=True) }}</code>
                <hr class="border-1">
                <div class=""><p>Delete a file by slug.</p></div>
                <code class="user-select-all">curl -X DELETE -H "Authorization:
                    Bearer {{ current_user.api_key }}" {{ url_for('api.delete', slug='example.png', _external=True) }}</code>
                <hr class="border-1">
                <div class=""><p>List your uploaded files. Supports optional ?page parameter for
                    pagination.</p></div>
                <code class="user-select-all">curl -H "Authorization:
                    Bearer {{ current_user.api_key }}" {{ url_for('api.files', _external=True) }}</code>
            </div>
        </div>
    </div>

{% endblock %}
