{% extends 'flask_user/base.html' %}

{% block title %}{% trans %}Edit User{% endtrans %}{% endblock %}

{% block form %}
    <h1>{% trans %}User profile{% endtrans %}</h1>

    <form action="" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if not field.flags.hidden %}
                {% if field.type=='SubmitField' %}
                    {{ render_submit_field(field, tabindex=loop.index*10) }}
                {% else %}
                    {{ render_field(field, tabindex=loop.index*10) }}
                {% endif %}
            {% endif %}
        {% endfor %}
    </form>
    <br/>

    {% if user_manager.USER_ENABLE_CHANGE_PASSWORD %}
        <p><a href="{{ url_for('user.change_password') }}">{% trans %}Change password{% endtrans %}</a></p>
    {% endif %}

{% endblock %}
