<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <title>{{ title if title else config.NAME }}</title>
    {% block stylesheets %}{% endblock %}

    {% assets 'css-app' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <nav class="navbar navbar-light navbar-border navbar-expand-sm" role="navigation">
                <a class="navbar-brand" href="{{ url_for('web.index') }}">
                    <img src="{{ url_for('static', filename='img/favicon.png') }}" width="30" height="30" alt="">
                </a>
                {% if current_user.is_authenticated %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
                        <div class="navbar-nav">
                            <a href="{{ url_for('auth.logout') }}" class="nav-item nav-link text-muted">Log out</a>
                        </div>
                    </div>
                {% endif %}
            </nav>
            {% block flash_messages %}
                {%- with messages = get_flashed_messages(with_categories=true) -%}
                    {% if messages %}
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-lg-8">
                                {% for category, message in messages %}
                                    {% if category == 'error' %}
                                        {% set category = 'danger' %}
                                    {% endif %}

                                    {% if category == 'message' or not category %}
                                        {% set category = 'primary' %}
                                    {% endif %}

                                    <div class="alert alert-{{ category }} text-center" role="alert"><span
                                            class="sr-only">{{ category }}</span>{{ message|safe }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {%- endwith %}
            {% endblock %}
            {% block content %}{% endblock %}
            <hr>
            <div class="text-muted">
                <div class="d-flex justify-content-between mb-3">
                    <div class="p-2">
                        <a href="https://github.com/TheReverend403/pste" class="text-muted"
                           target="_blank">{{ app.name }} {{ config.PSTE_VERSION }}</a>
                    </div>
                    {% if current_user.is_authenticated %}
                        <div class="p-2">
                            <span>Files: {{ current_user.file_count }}</span>
                            <span> | </span>
                            <span>Storage: {{ current_user.disk_usage(humanize=True) }}/{{ current_user.quota(humanize=True) }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% assets 'js-jquery' %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets 'js-popper' %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets 'js-bootstrap' %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block scripts %}{% endblock %}

</body>
</html>
