/*
 * This file is part of pste.
 *
 * pste is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * pste is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with pste.  If not, see <https://www.gnu.org/licenses/>.
 */

.navbar {
    margin-bottom: 20px;
    border-bottom: 2px solid #754DAC;
}

.swg-r2d2-2 {
    color: #5468B1;
}

.swg-c3po-2 {
    color: #EDA35C;
}

.dropzone {
    border-radius: 5px;
    background: #eee;
    font-size: 1.4em;
    border: 2px solid #754DAC;
}
.dz-preview {
    border-radius: 5px;
    border: 2px solid #754DAC;
}

.dz-image {
    border-radius: 0 !important;
    background: none !important;
    border-bottom: 2px solid #754DAC;
}
