{% extends 'auth/_form.html' %}

{% block form %}
    <form action="" method="post" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <input type="email" class="form-control" id="email" name="email"
                   aria-label="{{ form.email.label.text }}" placeholder="{{ form.email.label.text }}">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password"
                   aria-label="{{ form.password.label.text }}" placeholder="{{ form.password.label.text }}">
        </div>
        <div class="form-group form-check">
            <div class="float-right">
                {% if config.ENABLE_REGISTRATION %}
                    <button type="button" class="btn btn-link" aria-label="Register"><a
                            href="{{ url_for('auth.register') }}" class="text-primary">Register</a></button>
                {% endif %}
                <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
            </div>
        </div>
    </form>
{% endblock %}
