<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <title>{{ config.APP_NAME }}{{ ' - ' + title if title else '' }}</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <nav class="navbar navbar-light navbar-border navbar-expand-sm" role="navigation">
                <a class="navbar-brand" href="{{ url_for('web.index') }}">
                    <img src="{{ url_for('static', filename='img/favicon.png') }}" width="30" height="30" alt="">
                </a>
                {% if current_user.is_authenticated %}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
                        <div class="navbar-nav">
                            <a href="{{ url_for('auth.logout') }}" class="nav-item nav-link text-muted">Log out</a>
                        </div>
                    </div>
                {% endif %}
            </nav>
            {% block flash_messages %}
                {%- with messages = get_flashed_messages(with_categories=true) -%}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                {% set category = 'danger' %}
                            {% endif %}

                            {% if category == 'message' %}
                                {% set category = 'primary' %}
                            {% endif %}

                            <div class="alert alert-{{ category }}" role="alert"><span
                                    class="sr-only">{{ category }}</span>{{ message|safe }}</div>
                        {% endfor %}
                    {% endif %}
                {%- endwith %}
            {% endblock %}
            {% block content %}{% endblock %}
            <hr>
            <div class="text-muted">
                <div class="d-flex justify-content-between mb-3">
                    <div class="p-2">
                        <a href="https://github.com/FoxDev/pste" class="text-muted"
                           target="_blank">pste {{ config.APP_VERSION }}</a>
                    </div>
                    {% if current_user.is_authenticated %}
                        <div class="p-2">
                            <span>Files: {{ current_user.files|length }}</span>
                            <span> | </span>
                            <span>Storage: {{ current_user.get_disk_usage(humanize=True) }}/{{ current_user.get_quota(humanize=True) }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
{% block scripts %}{% endblock %}

</body>
</html>
