<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <title>{{ config.APP_NAME }}{{ ' - ' + title if title else '' }}</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <nav class="navbar navbar-light navbar-border" role="navigation">
                <a class="navbar-brand" href="{{ url_for('web.index') }}">
                    <img src="{{ url_for('static', filename='img/favicon.png') }}" width="30" height="30" alt="">
                </a>
            </nav>
            {% block flash_messages %}
                {%- with messages = get_flashed_messages(with_categories=true) -%}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'error' %}
                                {% set category = 'danger' %}
                            {% endif %}

                            {% if category == 'message' %}
                                {% set category = 'info' %}
                            {% endif %}

                            <div class="alert alert-{{ category }}" role="alert"><span
                                    class="sr-only">{{ category }}</span>{{ message|safe }}</div>
                        {% endfor %}
                    {% endif %}
                {%- endwith %}
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% block scripts %}{% endblock %}

</body>
</html>
